@import url("https://fonts.cdnfonts.com/css/sf-pro-display");
@import url("https://fonts.cdnfonts.com/css/muller-narrow");


#about {
  margin-top: 829px;
  padding: 81px;
  .container {
    width: 106%;
    .motion {
      position: absolute;
      bottom: 290px;
      left: 305px;
      h1 {
        text-align: center;
        font-weight: 800;
        font-size: 128px;
        line-height: 128px;
        color: #ffffff;
        width: 840px;
        span {
          font-weight: 800;
          font-size: 128px;
          color: #ec3025;
        }
      }
      p {
        width: 576px;
        font-size: 19px;
        color: #ffffff;
        margin: -43px 153px;
      }
    }
    .founders {
      display: flex;
      justify-content: space-between;

      .texts {
        &-title {
          font-style: normal;
          font-weight: 500;
          font-size: 40px;
          color: #ec3025;
        }
        &-text {
          font-style: normal;
          font-weight: 400;
          font-size: 24px;
          line-height: 140%;
          display: flex;
          align-items: center;
          color: rgba(27, 27, 27, 0.8);
          width: 380px;
        }
      }
      .photos {
        display: flex;
        justify-content: space-between;

        .first {
          margin: 16px 104px 0 -60px;
          &-h3 {
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
          }
          &-tex {
            font-weight: 400;
            font-size: 19px;
            color: rgba(27, 27, 27, 0.8);
          }
        }
      }
    }
    .license {
      padding: 120px;
      //background: #EFEFEF;
      //width: 1440px;
      //height: 654px;
      .our {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .lis {
          margin: 0px -125px;
          .licenses {
            h1 {
              font-weight: 500;
              font-size: 40px;
              line-height: 40px;
              color: #000000;
            }
            p {
              width: 347px;
              font-weight: 400;
              font-size: 19px;
              color: rgba(27, 27, 27, 0.8);
            }
          }
          .study {
            .it {
              display: flex;
              margin: 0 -2px -73px;
              &-tit {
                font-weight: 500;
                font-size: 48px;
                line-height: 48px;
                color: #d2d2d2;
              }
              &-text {
                width: 377px;
                font-weight: 400;
                font-size: 32px;
                color: rgba(27, 27, 27, 0.8);
                padding: 12px 46px;
              }
              &-line {
                width: 485px;
                height: 0;
                border: 1px solid #d2d2d2;
                margin: 102px -523px;
              }
              &-t {
                font-weight: 500;
                font-size: 48px;
                line-height: 48px;
                color: #d2d2d2;
              }
              &-txt {
                width: 377px;
                font-weight: 400;
                font-size: 32px;
                color: rgba(27, 27, 27, 0.8);
                padding: 0 37px;
              }
              &-ln {
                width: 485px;
                height: 0;
                border: 1px solid #d2d2d2;
                margin: 132px -511px;
              }
            }
          }
        }
      }
    }
    .gallery {
      .photos {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        h1 {
          font-size: 40px;
          line-height: 40px;
          color: #ec3025;
        }
        .imag {
          padding: 20px;
          .grad {
            padding: 0 40px;
          }
        }
      }
      .other {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .image {
          margin: -27px -49px;
          padding: 13px;
          .men {
            padding: 0 40px;
          }
        }
        a {
          font-weight: 500;
          font-size: 20px;

          color: #000000;
          padding-top: 14rem;
          margin-right: 303px;
        }
      }
    }
  }
  .logos {
    width: 100vw;
    background: linear-gradient(
      289.3deg,
      #131313 17.11%,
      rgba(23, 23, 23, 0.943269) 53.28%,
      rgba(28, 28, 28, 0.87) 100%
    );
    height: 221px;
    margin-left: -110px;
    margin-bottom: -111px;
    margin-top: 92px;
  }
  .images {
    display: flex;
    justify-content: space-around;
    padding: 70px;
  }
}
@media (max-width: 1600px) {
  #about .images {
    width: 100%;
  }
  #about .container .motion {
    position: absolute;
    bottom: 90px;
    left: 305px;
  }
}
@media (max-width: 1200px) {
  #about .images {
    width: 80%;
  }
  #about .container .gallery .other {
    justify-content: space-evenly;
  }
  #about .container .license {
    padding: 50px 0;
  }
  #about .container .motion {
    position: absolute;
    bottom: 90px;
    left: 161px;
  }
  #about .container .founders .photos .first {
    margin: 12px 2px 0 -60px;
    img {
      width: 70%;
    }
  }
  #about .container .license .our .lis {
    margin: 0;
    img {
      width:20%;
    }
  }
}
@media (max-width: 1140px) {
  #about .container .founders .photos .first {
    margin: 5px 20px 0 -9px;
  }
  #about .container .license .our .lis .study .it-text {
    width: 319px;
    font-weight: 400;
    font-size: 32px;
    color: rgba(27, 27, 27, 0.8);
    padding: 12px 46px;
  }
  #about .container .license .our .lis .study .it-ln {
    width: 431px;
    height: 0;
    border: 1px solid #d2d2d2;
    margin: 132px -511px;
  }
  #about {
    .container {
      .founders {
        .photos {
          .first {
            margin: 5px 19px 0 -60px;
          }
        }
      }
      .license {
        .our {
          .lis {
            .licenses {
              h1 {
                font-size: 35px;
              }
            }
          }
          img {
            width: 545px;
          }
        }
      }
      .gallery {
        .other {
          a {
            padding-top: 14rem;
            margin-right: 51px;
          }
        }
        .photos {
          h1 {
            font-size: 39px;
          }
        }
      }
      .study {
        .it {
          .it-txt {
            font-size: 23px;
          }
        }
      }
    }
    .logos {
      margin-top: 81px;
      margin-left: -85px;
    }
  }
}
@media (max-width: 992px) {
  #about .container .motion {
    position: absolute;
    bottom: 90px;
    left: 62px;
  }
  #about .container .motion h1 {
    text-align: center;
    font-weight: 800;
    font-size: 107px;
    line-height: 128px;
    color: #ffffff;
    width: 840px;
  }
  #about .container .motion h1 span {
    font-weight: 800;
    font-size: 110px;
    color: #ec3025;
  }
  #about .container .founders .photos .first {
    margin: 5px 19px 0 0px;
  }
  #about .container .founders {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  #about .container .license .our {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
}
@media (max-width: 880px) {
  #about .container .gallery .other .image .men {
    padding: 0 30px;
  }
  #about .container .gallery .other {
    img {
      width: 300px;
    }
  }
  #about .container .motion {
    left: 2%;
  }
  #about .container .gallery .photos {
    img {
      width: 300px;
    }
  }
}
@media (max-width: 768px) {
  #about .container .motion {
    left: -6%;
  }
  #about .container .gallery .photos .imag {
    padding: 20px 0;
  }
  #about .container .gallery .photos .imag .grad {
    padding: 0 21px;
  }

}
@media (max-width: 660px) {
  #about .container .motion {
    display: none;
  }
  #about .container .gallery .photos img {
    width: 234px;
  }
  #about .container .gallery .other .image {
    margin: -27px -49px;
    padding: 13px;
    img {
      width: 238px;
    }
  }
}
@media (max-width: 576px) {
  #about .container .founders .photos .first img {
    width: 100%;
  }
  #about .container .license .our {
    align-items: flex-start;
  }
  #about .container .license .our img {
    width: 90%;
  }
  #about .container .gallery .photos img {
    width: 194px;
  }
  #about .container .gallery .other .image .men {
    padding: 0 12px;
  }
  #about .container .gallery .other .image img {
    width: 200px;
  }

}
@media (max-width: 450px) {
  #about {
    margin-top: 560px;
  }
  #about .container .founders .texts-title {
    font-size: 33px;
  }
  #about .container .founders .texts-text {
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 140%;
    display: flex;
    align-items: center;
    color: rgba(27, 27, 27, 0.8);
    width: 290px;
  }
  #about .container .license .our .lis .study .it-text {
    width: 256px;
    font-weight: 400;
    font-size: 21px;
    color: rgba(27, 27, 27, 0.8);
    padding: 12px 46px;
  }
  #about .container .gallery .other .image {
    margin: 0;
    padding: 0;
  }
  #about .container .gallery .photos .imag .grad {
    padding: 0 !important;
  }
  #about .container .gallery .other .image .men {
    padding: 10px 0;
  }
  #about .container .license .our .lis .study .it-text {
    width: 319px;
    font-weight: 400;
    font-size: 32px;
    color: rgba(27, 27, 27, 0.8);
    padding: 12px 46px;
  }
  #about .container .founders .photos {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  #about .container .license .our .lis .study .it-txt {
    width: 251px;
    font-weight: 400;
    font-size: 21px;
    color: rgba(27, 27, 27, 0.8);
    padding: 0 37px;
  }
}
@media (max-width: 450px) {
  #about .container .license .our .lis .licenses h1 {
    font-size: 29px;
  }
  #about .container .license .our .lis .licenses p {
    width: 309px;
    font-weight: 400;
    font-size: 15px;
    color: rgba(27, 27, 27, 0.8);
  }
  #about .container .license .our .lis .study .it-text {
    width: 301px;
    font-weight: 400;
    font-size: 22px;
    color: rgba(27, 27, 27, 0.8);
    padding: 12px 46px;
  }
  #about .container .license .our .lis .study .it-tit {
    font-weight: 500;
    font-size: 31px;
    line-height: 48px;
    color: #d2d2d2;
  }
  #about .container .license .our .lis .study .it-txt {
    width: 236px;
    font-weight: 400;
    font-size: 17px;
    color: rgba(27, 27, 27, 0.8);
    padding: 0 37px;
  }
}
@media (max-width: 320px) {
  #about {
    margin-top: 829px;
    padding: 14px;
  }
  #about .container .license .our .lis .study .it-line {
    width: 101%;
    height: 0;
    border: 1px solid #d2d2d2;
    margin: 102px -523px;
  }
  #about .container .license .our .lis .study .it-ln {
    width: 100%;
    height: 0;
    border: 1px solid #d2d2d2;
    margin: 132px -511px;
  }
  #about .container .license .our .lis .study .it-txt {
    width: 185px;
    font-weight: 400;
    font-size: 17px;
    color: rgba(27, 27, 27, 0.8);
    padding: 0 37px;
  }
}